<div class="navbar">
  <div class="left-section">
    <app-server-status></app-server-status>
    <app-network-status></app-network-status>
  </div>
  <div class="right-section">
    <button class="LogOutButton" (click)="logout()">Log Out</button>
  </div>
</div>
<div class="container">
  <div class="status-container"></div>
  <div class="form-container">
    <app-add-form></app-add-form>
  </div>
  <div class="list-container">
    <app-car-list></app-car-list>
  </div>
  <div class="chart-container">
    <app-chart class="appChart"></app-chart>
  </div>
</div>
